<div style="display: flex;height: 100%;">
  <div style="margin: auto;width: 700px;">
    <h3>Your account is deactivated due you have violated our policy! However you can submit an active request to administration for re-evaluation.</h3>
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Explaination:</mat-label>
      <textarea style="width: 100%;min-height: 300px;resize: none;" matInput [formControl]="explaination" required></textarea>
      <mat-error *ngIf="explaination.invalid">
        Explaination is required
      </mat-error>
    </mat-form-field>
    <div style="text-align: right;">
      <button mat-raised-button class="mat-accent" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
