<div id="error-403" fxLayout="column" fxLayoutAlign="center center">

  <div class="content" fxLayout="column" fxLayoutAlign="center center">

    <div class="error-code">403</div>

    <div class="message">Well, you are not allowed!</div>

    <div class="sub-message">
      Just kidding, looks like you have un-sufficient permission.
    </div>

  </div>

</div>