<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <a [routerLink]="'/home'">
                        <img class="logo-icon" src="assets/images/logos/fuse.svg">
                    </a>
                </div>
            </div>

            <div class="px-8 px-md-16">
                <a [routerLink]="'/admin/advertise'" *ngIf="isAdminRoute()">
                    <button mat-button class="user-button">Advertisements</button>
                </a>
                <a [routerLink]="'/admin/post-management'" *ngIf="isAdminRoute()">
                    <button mat-button class="user-button">Posts Management</button>
                </a>
                <a [routerLink]="'/admin/activate'" *ngIf="isAdminRoute()">
                    <button mat-button class="user-button">Activate users</button>
                </a>
                <div style="min-height: 56px;" *ngIf="!isAdminRoute()">
                    <input
                        type="text"
                        style="border-radius: 5px; width: 400px;"
                        placeholder="Search"
                        fxFlex
                        (input)="search($event)"
                    >
                    <button mat-icon-button style="height: 56px;min-width: 56px;">
                        <mat-icon class="s-24 secondary-text">search</mat-icon>
                    </button>
                </div>

            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16" src="{{currentUser?.userProfile?.photo}}">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{getProfileName()}}</span>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <a routerLink="/profile" style="text-decoration: none!important;">
                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>My Profile</span>
                    </button>
                </a>

                <a routerLink="/social" style="text-decoration: none!important;">
                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>People</span>
                    </button>
                </a>

                <a routerLink="/admin" style="text-decoration: none!important;" *ngIf="isAdmin">
                    <button mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Management</span>
                    </button>
                </a>

                <button mat-menu-item class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>

            <div class="toolbar-separator"></div>

            <a routerLink="/home" style="text-decoration: none!important;">
                <button
                    mat-icon-button
                    aria-label="Home"
                    matTooltip="Home"
                    style="width: 64px;height: 64px;color: rgba(0,0,0,0.87);"
                >
                    <mat-icon>home</mat-icon>
                </button>
            </a>

            <div class="toolbar-separator"></div>

            <user-notification></user-notification>

            <!-- <div class="toolbar-separator" *ngIf="!isAdminRoute()"></div>

            <fuse-search-bar (input)="search($event)" *ngIf="!isAdminRoute()"></fuse-search-bar> -->

        </div>

    </div>

</mat-toolbar>