<div class="reply" fxLayout="row" fxFlexFill>
  <img src="{{currentUser.userProfile.photo}}" class="avatar"/>

  <form fxFlex>
    <textarea placeholder="Add a comment..." [(ngModel)]="message" name="message" ></textarea>
    <button mat-raised-button color="accent" class="post-comment-button" aria-label="Post Comment" (click)="addComment()">
      Post Comment
    </button>
  </form>
</div>
