<div id="posts" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Unhealthy Posts Management
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search for a post">
        </div>
      </div>
      <!-- / SEARCH -->

      <!-- CONFIG BUTTON -->
      <button mat-raised-button
            [routerLink]="'/admin/post-management/config'"
            class="fuse-white mt-24 mt-md-0">
        <span>Config</span>
      </button>
      <!-- / CONFIG BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <mat-table class="post-management-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- Image Column -->
        <ng-container matColumnDef="images">
          <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <img
              class="product-image"
              [src]="getPostImage(post)"
            >
          </mat-cell>
        </ng-container>

        <!-- User Column -->
        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <p class="text-truncate">{{getUserName(post)}}</p>
          </mat-cell>
        </ng-container>

        <!-- Post Column -->
        <ng-container matColumnDef="content">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Post</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <p class="text-truncate">{{getPostContent(post)}}</p>
          </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
          <mat-cell *matCellDef="let post">
            {{getPostCreated(post)}}
          </mat-cell>
        </ng-container>

        <!-- Unhealthy Column -->
        <ng-container matColumnDef="unhealthy">
          <mat-header-cell *matHeaderCellDef>Unhealthy</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <mat-icon
              *ngIf="post.unhealthy"
            >check_box</mat-icon>
            <mat-icon
              *ngIf="!post.unhealthy"
            >check_box_outline_blank</mat-icon>
          </mat-cell>
        </ng-container>

        <!-- Unhealthy Column -->
        <ng-container matColumnDef="disabled">
          <mat-header-cell *matHeaderCellDef>Disabled</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <mat-icon
              *ngIf="!post.disabled"
              (click)="disable(post)"
              aria-label="Click to disable"
              matTooltip="Click to disable"
            >check_box_outline_blank</mat-icon>
            <mat-icon
              *ngIf="post.disabled"
              (click)="enable(post)"
              aria-label="Click to enable"
              matTooltip="Click to enable"
            >check_box</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let post; columns: displayedColumns;" class="post" matRipple></mat-row>

      </mat-table>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>