<div id="academy-courses" class="page-layout simple">


    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <mat-form-field appearance="outline" floatLabel="always" class="course-search">
                    <mat-label>Search for a user</mat-label>
                    <input matInput placeholder="Enter a keyword..." [(ngModel)]="searchTerm" (keyup.enter)="doSearch()">
                </mat-form-field>
                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="currentCategory" (selectionChange)="changeCategory()">
                        <mat-option [value]="'all'">
                            All
                        </mat-option>
                        <mat-option [value]="'follow_me'">
                            Follow me
                        </mat-option>
                        <mat-option [value]="'following'">
                            Followed
                        </mat-option>
                        <mat-option [value]="'unfollowing'">
                            Not yet follow
                        </mat-option>
                        
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center">

                <div class="course" *ngFor="let u of users" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33">

                    <div class="course-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="u.followed?'follow-bg': 'people-bg'">

                            <div class="category" fxFlex>
                                <a [routerLink]="['/profile', u.id]" style="color: aliceblue;" >{{u.name}}</a>
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center">
                                <!-- <mat-icon class="length-icon s-20">access_time</mat-icon> -->
                                <!-- <div class="min">
                                    
                                </div> -->
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">

                            <a [routerLink]="['/profile', u.id]" class="btn">
                                <img [src]="u.photo" class="avatar contact-avatar huge m-0" /></a>


                            <div class="h1">{{u.email}}</div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <span *ngIf="u.myFollower">FOLLOW ME | </span>
                            <button mat-button color="accent" (click)="doFollow(u)">
                                {{ u.followed? 'UNFOLLOW': 'FOLLOW'}}
                            </button>
                        </div>

                    </div>

                </div>
                <div #peopleAnchor></div>



            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>