<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
  <div class="header">  <h3>Advertisement detail</h3></div>
  <div class="row">
    <div class="col-sm-8">
      <a [routerLink]="['','advertise']">Back</a> 
      <form [formGroup]="adform" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="hidden" formControlName="_id" name="_id" id="id">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name">
          <div class="error" *ngIf="adform.controls.name.touched && adform.get('name').hasError('required')" >name is required</div>
          <div class="error" *ngIf="adform.controls.name.touched && adform.get('name').hasError('minlength')" >name is minlength 40 characters </div>
          <div class="error" *ngIf="adform.controls.name.touched && adform.get('name').hasError('maxlength')" >name is maxlength 50 characters </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" formControlName="description" class="form-control" id="description"
            placeholder="enter description">
            <div class="error" *ngIf="adform.controls.description.touched && adform.get('description').hasError('required')" >description is required</div>
            <div class="error" *ngIf="adform.controls.description.touched && adform.get('description').hasError('minlength')" >description is minlength 50 characters </div>
            <div class="error" *ngIf="adform.controls.name.touched && adform.get('description').hasError('maxlength')" >description is maxlength 108 characters </div>
          </div>
        <div class="form-group">
          <label for="linkUrl">linkUrl</label>
          <input type="text" formControlName="linkUrl" class="form-control" id="linkUrl"
            placeholder="enter link">
            <div class="error" *ngIf="adform.controls.linkUrl.touched && adform.get('linkUrl').hasError('required')" >link is required</div>
            <div class="error" *ngIf="adform.controls.linkUrl.touched && adform.get('linkUrl').hasError('pattern')" >link isn't correct</div>
        </div>
         <div class="target">
          <fieldset> 
            <legend>Target </legend>
            <div class="note"><strong>The default is all uses will see</strong> &nbsp; &nbsp; &nbsp; &nbsp;<a (click)="reset($event)">reset to default?</a></div>
            <div class="twho">
             <span>Who has age</span>  &nbsp; &nbsp;
             <select formControlName="operate" id="operate">
              <option value="" disabled selected>Select expression</option>
               <option value="$eq">equal to</option>
               <option value="$gt">greater than</option>   
               <option value="$lt">less than</option> 
             </select> &nbsp; &nbsp;
             <input style="width:70px" type="number" formControlName="age" id="age" name="Age" placeholder="age"/> &nbsp;
             <select formControlName="logic" id="logic" pl>
              <option value="" disabled selected>Select logic</option>
              <option value="$or">or</option>
              <option value="$and">and</option>              
            </select> &nbsp;
            <span>zipcode is</span> &nbsp;  
             <input placeholder="zipcode" formControlName="zipcode" id="zipcode" style="width:80px" type="text"/>
            </div>
            <div>
              <div class="error" *ngIf="adform.get('operate').hasError('required')"> expression is required</div>
              <div class="error" *ngIf="adform.get('age').hasError('required')"> age is required</div>
              <div class="error" *ngIf="adform.get('logic').hasError('required')"> logic is required</div>
              <div class="error" *ngIf="adform.get('zipcode').hasError('required')"> zipcode is required</div>
              <div class="error" *ngIf="adform.get('zipcode').hasError('pattern')"> zipcode isn't correct</div>
            </div>
          </fieldset>
         </div>
        <div class="command">
        <button type="submit" *ngIf="id===''; else elseEditBlock" [disabled]="!adform.valid" class="btn btn-primary">Submit</button>
        <ng-template #elseEditBlock>
          <button type="submit" [disabled]="!adform.valid" class="btn btn-primary">Edit</button>  &nbsp;&nbsp;
          <a [routerLink]="['','advertise','']" >create new one?</a>
        </ng-template>
         </div>
      </form>
    </div>
    <div class="col-sm-4" *ngIf="id!==''">

      <div *ngIf="urlImage!==null; else elseBlock"><img width="150px" [src]="urlImage" alt="NoImage" /></div>
      <ng-template #elseBlock><img width="150px" src="{{urlImageS3}}" alt="NoImage" /></ng-template>
     
      <div>
        
        <div><input type="file" id="file" (change)="inputFileOnChange($event)" /></div>
        <div class="imgupload"><a (click)="upload()">Upload</a> </div>

      </div>

    </div>
  </div>
  
</div>
