.header{
    margin-top: 20px;
    text-align: left;
}
.command{
    margin-top:20px;
}
.container{
    font-size: 14px;
}

fieldset {
    min-width: 1px !important;
    padding: 10px !important;
    margin: 2px !important;
    border: 1px solid gray !important;
}

legend {
    display: block;
     width: 50px !important
    
}
.note{
    margin-bottom: 12px;
}
.imgupload{
    margin-top: 20px;
}
.imgupload a{
 
   margin-left: 16px;
   cursor: pointer;
}
.ng-star-inserted{
    color:red;
    font-size:10px;
    font-style: italic;

}