<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

        <div *ngIf="profileUser" class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <img *ngIf="!isHome && (!profileUserId || profileUserId == loggedUser.id)" class="profile-image avatar huge" matTooltip="Update photo"
                 src="{{profileUser.userProfile.photo}}" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                 (click)="editprofilePhoto()" alt="avartar picture">
            <img *ngIf="isHome || (profileUserId && profileUserId !== loggedUser.id)" class="profile-image avatar huge"
            src="{{profileUser.userProfile.photo}}" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
             alt="avartar picture">

            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <span>{{profileUser.userProfile.firstname}} {{profileUser.userProfile.lastname}}</span><br>
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button *ngIf="profileUserId && profileUserId !== loggedUser.id" mat-raised-button color="accent" aria-label="Follow" (click)="follow()">{{isFollowed?'Un-follow':'Follow'}}</button>
            <button *ngIf="!isHome && !profileUserId " mat-raised-button color="accent" aria-label="Edit Profile" (click)="openPostDialog()">Edit Profile</button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="{{profileUserId?'Profile':(!isHome?'Timeline':'Home')}}">
                <profile-timeline [isTimeline]="!isHome"></profile-timeline>
            </mat-tab>

            <mat-tab label="About" *ngIf="!isHome && !profileUserId">
                <profile-about></profile-about>
            </mat-tab>

 <!--           <mat-tab label="Photos & Videos" *ngIf="!isHome && !profileUserId">
                <profile-photos-videos></profile-photos-videos>
            </mat-tab>-->

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
