<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">New Post</span>
      <button mat-icon-button (click)="closeDialog()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form name="composeForm" [formGroup]="postForm" class="compose-form" fxLayout="column" fxFlex>

      <mat-form-field appearance="outline">
        <mat-label>What's on your mind, {{currentUser.userProfile.firstname}} {{currentUser.userProfile.lastname}}? </mat-label>
        <textarea matInput name="message"
                  formControlName="message"
                  required
                  rows="6">
                </textarea>
      </mat-form-field>
      <div class="action-button">
        <button mat-icon-button aria-label="Add photo" matTooltip="Add Photo" (click)="onClick()">
          <mat-icon>photo</mat-icon>
        </button>
        <mat-checkbox formControlName="isNotified">Notify followers</mat-checkbox>
        <div style="font-size: 11px; margin-top: 5px;">Each photo must be less than 1 MB</div>
      </div>
      <ul style="width: 100%;list-style: none;">
        <li style="margin-bottom: 10px;" *ngFor="let f of files">
          {{f.data.name}} (uploaded: {{f.progress}}%) {{f.status}}<br>
          <mat-progress-bar mode="determinate" *ngIf="f.inProgress" [value]="f.progress" color="accent"></mat-progress-bar>
        </li>
      </ul>
    </form>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-raised-button
              color="accent"
              (click)="savePost()"
              class="save-button"
              [disabled]="postForm.invalid"
              aria-label="SAVE">
        POST
      </button>
    </div>
    <button mat-icon-button (click)="deletePost()"
            aria-label="Delete"
            matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
