#container-1{
    margin: 0px auto !important;
     font-size: 14px;
}
.header{
    text-align: center;
    margin-bottom: 20px;
}
.containerlist{
    margin-top:12px;
   
}
.containerlist .row{
  margin-bottom: 12px;
}

content > *:not(router-outlet) {
     display: block !important;
   
}
body.theme-default a {
    color:black;
}

.active {
    color: red !important;
    font-weight: bold;
    background-color: gray;
}
.ErrorSnackbar{
    background-color: red;
}
.waitloading{
    text-align:center;
}
.divpagination{
    float: left;
    margin-right: 20px;
}
.totalpage span{
    font-weight: bold;
}
a{
    cursor: pointer;
}