
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container containerlist">
  <div class="header"><h3>Manage advertisements</h3></div>
  <div class="row">
    <div class="col-md-1">
      <button type="button" [routerLink]="['','advertise','']" class="btn btn-primary">Add</button>

    </div>
    <div class="col-md-8">
      <input class="form-control" type="text" #inputSearch (keyup.enter)="search(inputSearch)"/>
    </div>
    <div class="col-md-3">
      Display:
      <select id="display" (change)="onChangeDisplay($event)" >
        <option *ngFor="let d of displayRow; let i = index " value="{{d.id}}">{{d.name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">CreatedOn</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 100px;" [hidden]="!loadComplete" *ngFor="let ad of advertise; let i=index">
            <td>   <img width="80px" appLoadingImage [imageLoader]="ad.imageUrl" alt="NoImage"></td>  <!--imageLoader="{{urlAPI}}/advertise/image?id={{ad._id}}"-->
            <td>{{ad.name}}</td>
            <td>{{ad.description}}</td>
            <td>{{ad.createdOn | dateFormatPipe}}</td>
            <td><a (click)="delete(ad._id)">Delete</a> |  <a [routerLink]="[ad._id]">Edit</a></td>
          </tr>
          <tr *ngIf="!loadComplete">
            <td colspan="2" class="waitloading">
              <div class="waitloading"><img src="../../../../assets/icons/flags/loading.gif"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

<nav *ngIf="loadComplete" aria-label="Page navigation example">
  <div class="divpagination"> <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="previous($event)">Previous</a></li>
    <li *ngFor="let p of paging.pages; let i= index " class="page-item"><a class="page-link" [class.active]="p===paging.currentPage"  (click)="selectPage(p)">{{p}}</a></li>
    <li [attr.disabled]="true" class="page-item"><a class="page-link" (click)="next($event)">Next</a></li>
  </ul>
</div>
 <div class="totalpage"><span> {{totalPage}} pages of {{totalRow}} rows</span></div>
 
</nav>



