<div id="unhealthyConfig" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          List of phrases that are unhealthy
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search...">
        </div>
      </div>
      <!-- / SEARCH -->

      <!-- CONFIG BUTTON -->
      <button mat-raised-button
        (click)="add()"
        class="fuse-white mt-24 mt-md-0">
        <span>Add</span>
      </button>
      <!-- / CONFIG BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <mat-table
        class="config-table"
        #table
        [dataSource]="dataSource"
        matSort
        [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar
      >

        <!-- ID Column -->
        <ng-container matColumnDef="_id">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <span class="link-button light-blue-500-fg" (click)="edit(item)">Edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;
            <span class="link-button light-blue-500-fg" (click)="delete(item._id)">Delete</span>
          </mat-cell>
        </ng-container>

        <!-- Group Column -->
        <ng-container matColumnDef="language">
          <mat-header-cell *matHeaderCellDef>Language (Group)</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <p class="text-truncate">{{item.language}}</p>
          </mat-cell>
        </ng-container>

        <!-- Enabled Column -->
        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef>Enable?</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <mat-icon
              *ngIf="item.enabled"
            >check_box</mat-icon>
            <mat-icon
              *ngIf="!item.enabled"
            >check_box_outline_blank</mat-icon>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="words">
          <mat-header-cell *matHeaderCellDef>Phrases</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <p class="text-truncate">{{item.words | joinStrings}}</p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row
          *matRowDef="let item; columns: displayedColumns;"
          class="post"
          matRipple
        >
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>