<h3 matDialogTitle>Active request</h3>
<div mat-dialog-content>
  <div class="mb-16">
    <label>Title:</label>
    {{getTitleNotification()}}
  </div>
  <div>
    <label>Explaination:</label>
    <textarea
      style="width: 100%;min-height: 300px;resize: none;"
      disabled
      [value]="getNotificationContent()"
    ></textarea>
  </div>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
  <button mat-raised-button class="mat-accent mr-16" (click)="approve()">Approve</button>
  <button mat-raised-button (click)="decline()">Decline</button>
</div>