.ad_bottom{
    height: 820px;
}
.ad-li{
    background-color:#fff;
    padding: 12px; 
   
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.ad-li::before{
    border: 1px solid #dddfe2;
    border-radius: 4px;
}
.ad_header{
    padding-bottom: 12px;
}
.ad-item{
    margin-bottom: 12px;
}
.ad-title{
    padding-top: 10px;
}

.ad_header strong{
    color: dimgrey;
}
.ad-description span{
    color: #616770;
    font-size: 13px;
}
.ad-image img{
    width: 350px;
    height: 200px;
}