<div class="ad-container">

   <div class="ad-wrap" >
    <div class="ad-li">
        <div class="ad_header"><strong>Advertisement</strong></div>
        <div class="ad_bottom">
            <div class="ad-item" *ngFor="let ad of adver; let i = index">
                <div class="ad-image"><a href="{{ad.linkUrl}}"><img src="{{ad.imageUrl}}"/></a></div>
                <div class="ad-title">
                    <a href="#"><strong>{{ad.name}}</strong></a>
                </div>
                <div class="ad-description"><span>{{ad.description}}
                </span></div>
            </div>
            <!-- <div class="ad-item">
                <div class="ad-image"><a href="#"><img src="https://henderson.colormemine.com/wp-content/uploads/sites/72/2018/04/field-trips-PL-350x250.jpg"/></a></div>
                <div class="ad-title">
                    <a href="#"><strong>Real help for business</strong></a>
                </div>
                <div class="ad-description"><span>Discover the 4 practices a Salesforce vet uses to connect with customers as this crisis pu...
                </span></div>
            </div> -->
        </div>
    </div>
   </div>
</div>
