<div id="timeline" class="p-24" fxLayout="row wrap">

    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">

        <div class="profile-box add-post" *ngIf="!profileUserId">

            <div class="form" fxFlex>

                <textarea
                    placeholder="What's on your mind, {{currentUser.userProfile.firstname}} {{currentUser.userProfile.lastname}}?"
                    [(ngModel)]="message" (click)="openPostDialog()"></textarea>

                <footer fxLayout="row" fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayoutAlign="start center">
                    </div>
                    <button mat-raised-button color="accent" class="post-button" aria-label="POST"
                        [disabled]="isValidMessage()" (click)="addPost(this.currentPost)">POST</button>

                </footer>

            </div>

        </div>

        <mat-divider></mat-divider>

        <div class="timeline-item" *ngFor="let post of posts">

            <header fxLayout="row" fxLayoutAlign="space-between start">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar" [src]="post.user.avatar">

                    <div fxLayout="column">
                        <div class="title">
                            <span class="username"><a
                                    [routerLink]="['/profile', post.user.id]">{{post.user.name}}</a></span>
                            <span *ngIf="post.user.id === currentUser.id">&nbsp;&nbsp;posted on your timeline</span>
                            <span *ngIf="post.user.id !== currentUser.id">&nbsp;&nbsp;shared something with you</span>
                        </div>
                        <div class="time" style="font-size: medium">{{post.createdAt | date:'medium'}}</div>
                    </div>
                </div>

                <!--  <button mat-icon-button aria-label="More">
                    <mat-icon>more_vert</mat-icon>
                </button>-->
            </header>

            <div class="content">
                <div *ngIf="post.message" class="message">
                    {{post.message}}
                </div>

                <div *ngIf="post.images.length>0" class="media">
                    <img *ngFor="let image of post.images" [src]="image">
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button class="like-button">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16">favorite</mat-icon>
                            &nbsp;<span #tooltip="matTooltip" matTooltip="{{getUsersLiked(post.likes)}}" matTooltipClass="multiline-tooltip" matTooltipPosition="above">({{post.likes.length}})</span>&nbsp;&nbsp;&nbsp;
                            <span class="action-link"
                                (click)="likeorUnLikePost(post)"><a>{{isLiked(post)?'Unlike':'Like'}}</a></span>
                        </span>
                    </button>
                </div>
            </div>

            <footer class="" fxLayout="column" fxLayoutAlign="start start">
                <div *ngIf="post.comments" class="comment-count" fxLayout="row" fxLayoutAlign="start center">
                    {{post.comments.length}} comments
                    <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
                </div>

                <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.comments">
                    <app-comment-view [comment]="comment" [post]="post" (commentChanged)="likeComment($event)">
                    </app-comment-view>
                </div>
                <app-comment-edit (addCommentClick)="onAddComment($event, post)"></app-comment-edit>
            </footer>
        </div>
    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">
        <app-sidebar-people title="People" topPeople="false"></app-sidebar-people>
        <app-advertise-view></app-advertise-view>
    </div>
    <div #postAnchor></div>

</div>