.page-layout.carded.fullwidth > .center > .header {
  height: 60px !important;
  min-height: 60px !important;
  max-height: 60px !important;
}

.mb-24 {
  margin-top: 10px;
}
.action-hover{
  cursor: pointer;
}
