<div id="users" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1">
          In-Active Users
        </span>
      </div>
    </div>

    <div class="content-card">
      <mat-table class="post-management-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                 fusePerfectScrollbar>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.userProfile.firstname + ' ' + element.userProfile.lastname}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.userProfile.gender}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.email}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actionButton">
          <mat-header-cell *matHeaderCellDef style="width: 20%">Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="action-hover" mat-button (click)="onActivateclick(element)">re-active</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let post; columns: displayedColumns;" class="post" matRipple></mat-row>
      </mat-table>

    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
    ></mat-paginator>

  </div>
  <!-- / CONTENT CARD -->
</div>
<!-- / CENTER -->
</div>
