<img [src]="comment.user.avatar" class="avatar" />
<div fxLayout="column" fxFlex>
  <div fxLayout="row" fxLayoutAlign="start center">
    <span class="username"><a [routerLink]="['/profile', comment.user.id]">{{comment.user.name}}</a></span>
    <span class="time">{{comment.createdAt | date: 'M/d/yy, h:mm a'}}</span>&nbsp;&nbsp;&nbsp;
    <span *ngIf="canDelete()" class="action-link"><a (click)="removeComment()">delete</a></span>
  </div>
  <div class="message">
    {{comment.message}}
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-button class="like-button">
      <span fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="s-16">favorite</mat-icon>&nbsp;<span matTooltip="{{getUsersLiked(comment.likes)}}" matTooltipClass="multiline-tooltip" matTooltipPosition="above">({{comment.likes.length}})</span>&nbsp;&nbsp;&nbsp;
        <span class="action-link" (click)="likeorUnLike(comment)"><a>{{isLiked(comment)?'Unlike':'Like'}}</a></span>
      </span>
    </button>
  </div>
</div>