@import "src/@fuse/scss/fuse";
user-notification {
  .user-notifications {
    min-width: 64px;
    height: 64px;
    position: relative;

    @include media-breakpoint('xs') {
      height: 56px;
    }
    .unread-count {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 18px;
      height: 18px;
      top: 10px;
      left: 35px;
      border-radius: 9px;
      padding: 0 5px;
      font-size: 11px;
      text-align: center;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
      background-color: #fa3e3e;
      color: white;
    }
  }
}
.user-notifications-viewport {
  max-height: 480px;
  .active {
    background-color: #edf2fa!important;
  }
}
