<button mat-icon-button
  [matMenuTriggerFor]="notificationMenu"
  class="user-notifications"
  aria-label="Notifications"
  matTooltip="Notifications"
>
  <mat-icon>notifications_on</mat-icon>
  <div class="unread-count" *ngIf="unread">{{unread}}</div>
</button>

<mat-menu #notificationMenu="matMenu"
  [overlapTrigger]="false"
  class="user-notifications-viewport"
>
  <button mat-menu-item
    *ngFor="let notification of notifications"
    (click)="viewPost(notification)"
    [class]="notification.unread ? 'active' : ''"
    matTooltip="{{getNotificationTitle(notification)}}"
    matTooltipPosition="left"
  >
    <span>{{getNotificationTitle(notification)}}</span>
  </button>
  <button mat-menu-item *ngIf="isEmptyNotification()">
    You don't have any notification at the moment.
  </button>
</mat-menu>
