<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit Profile</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0">
        <form name="composeForm" [formGroup]="profileForm" class="compose-form" fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstname">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                    First Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastname">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                    Last Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="outline">
                <mat-label>Birthday</mat-label>
                <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="dob" placeholder="MM/dd/yyyy">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                    Birthday is required
                </mat-error>
            </mat-form-field>


            <div class="genderRadioGroup">
                <label>Gender </label>
                <mat-radio-group name="gender" formControlName="gender" required>
                    <mat-radio-button value="male" checked>Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Zip code</mat-label>
                <input matInput formControlName="zipcode">
                <mat-icon matSuffix class="s-16 ml-4">location_on</mat-icon>
                <mat-error>
                    Zip code is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>School</mat-label>
                <input matInput name="school" formControlName="school">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Work </mat-label>
                <input matInput name="work" formControlName="work">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone </mat-label>
                <input matInput name="phone" formControlName="phone">
            </mat-form-field>

        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button color="accent" (click)="saveProfile()" class="save-button" [disabled]="profileForm.invalid" aria-label="SAVE">
            Save
          </button>
            <button mat-raised-button (click)="matDialogRef.close()" aria-label="Cancel" matTooltip="Cancel">
            Cancel
          </button>
        </div>

    </div>
</div>