@import "src/@fuse/scss/fuse";
.dialog-content-wrapper {
    @include media-breakpoint('xs') {
        width: 100%;
    }
    @include media-breakpoint('gt-xs') {
        width: 640px;
    }
    width: 500px;
    .mat-dialog-container {
        padding: 0;
        .compose-form {
            .mat-form-field {
                width: 100%;
            }
            .show-hide-extra-fields {
                text-align: right;
                cursor: pointer;
                font-size: 12px;
            }
            .attachment-list {
                font-size: 13px;
                .attachment {
                    border: 1px solid;
                    border-radius: 20px;
                    padding-left: 16px;
                    margin-top: 8px;
                    .filename {
                        font-weight: 600;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    .genderRadioGroup {
        margin: 10px 0 20px;
    }
    mat-radio-button {
        margin: 0 12px;
    }
}