@import "src/@fuse/scss/fuse";

.about-sidebar {
    padding-left: 32px;

    @include media-breakpoint('sm') {
        padding: 8px
    }

    .friends {

        .content {

            .friend {
                padding: 4px;

                img {
                    border-radius: 4px;
                    width: 59.828px;
                    height: 59.828px;
                }
            }
        }
    }

    .groups {

        .content {

            .group {
                margin-bottom: 24px;

                &:last-child {
                    margin-bottom: 0;
                }

                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    font-size: 21px;
                    line-height: normal;
                    border-radius: 50%;
                    margin-right: 16px;
                }

                .name {
                    font-weight: 600;
                    font-size: 15px;
                }

                .members {
                    margin-top: 8px;
                }
            }
        }
    }
}
   
