
    <div class="profile-box friends" fxLayout="column">

        <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="title">People</div>
            <div class="more secondary-text">
                
                <a routerLink="/social" style="text-decoration: none!important;color: ghostwhite;">
                    <span>See more...</span>
                </a>
            </div>
        </header>

        <div class="content" fxLayout="row wrap">

            <div class="friend" fxFlex="20" *ngFor="let u of users">
                <a [routerLink]="['/profile', u.id]">
                <img [src]="u.photo" [alt]="u.name" matTooltip="{{u.name}}">
                </a>
            </div>
        </div>

    </div>

    
