unhealthy-form {
  .mat-dialog-content {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    mat-form-field {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
  .mat-dialog-actions {
    justify-content: flex-end;
  }
}