<h3 matDialogTitle>Add/Edit Unhealthy Phrase</h3>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Language (Group)</mat-label>
    <input matInput [formControl]="language" required>
    <mat-error *ngIf="language.invalid">
      Language (Group) is required
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Phrase</mat-label>
    <textarea matInput [formControl]="phrase" required ></textarea>
    <mat-error *ngIf="phrase.invalid">
      Phrase is required
    </mat-error>
  </mat-form-field>

  <mat-checkbox [formControl]="enabled">Enabled?</mat-checkbox>

  

  
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-accent mr-16" (click)="ok()">Ok</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>