@import "src/@fuse/scss/fuse";
#profile {
    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;
        .profile-image {
            margin-right: 24px;
            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
            cursor: pointer;
        }
        .profile-image:hover {
            background: url('/assets/images/avatars/edit_photo.png');
            opacity: 0.5;
            cursor: pointer;
            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
            ;
        }
        .name {
            font-size: 34px;
            color: #FFFFFF;
            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }
        .actions {
            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }
    .content {
        flex: 1;
        .profile-box {
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 16px;
            @include mat-elevation(2);
            header {
                padding: 16px !important;
                .title {
                    font-size: 17px;
                }
                .more {
                    cursor: pointer;
                }
            }
            .content {
                padding: 16px;
            }
            footer {
                padding: 8px;
                border-top: 1px solid;
            }
            &.info-box {
                .info-line {
                    margin-bottom: 24px;
                    .title {
                        font-size: 15px;
                        font-weight: 600;
                        padding-bottom: 4px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        #timeline {
            max-width: 1200px;
            .timeline-content {
                .timeline-item {
                    margin-bottom: 32px;
                    overflow: hidden;
                    border-radius: 4px;
                    @include mat-elevation(2);
                    &:last-child {
                        margin-bottom: 0;
                    }
                    header {
                        padding: 16px 0 8px 16px;
                        .title {
                            font-weight: 600;
                            .username {
                                margin-right: 2px;
                                color: #03A9F4;
                                cursor: pointer;
                            }
                        }
                    }
                    .content {
                        .message {
                            padding: 16px;
                        }
                        .media {
                            padding: 16px;
                            img,
                            iframe {
                                width: 100%;
                            }
                            a {
                                color: inherit;
                            }
                        }
                        .like-button,
                        .share-button {
                            padding: 4px 6px;
                            text-transform: inherit;
                            font-size: 13px;
                            font-weight: normal;
                            margin: 0 0 16px 8px;
                            min-width: inherit;
                            line-height: inherit;
                            &:hover {
                                background-color: transparent;
                            }
                            mat-icon {
                                margin: 0 8px 0 0;
                            }
                        }
                        .s-16 {
                            color: red;
                        }
                        .article {
                            border: 1px solid;
                            margin: 16px;
                            .media {
                                padding: 0;
                                overflow: hidden;
                                border-bottom: 1px solid;
                                img {
                                    display: block;
                                    padding: 0;
                                }
                            }
                            .title {
                                font-size: 15px;
                                padding: 16px 16px 4px 16px;
                            }
                            .subtitle {
                                padding: 0 16px;
                            }
                            .excerpt {
                                padding: 16px 16px;
                            }
                        }
                    }
                    footer {
                        padding: 16px;
                        .comment-count {
                            margin-bottom: 16px;
                            cursor: pointer;
                            mat-icon {
                                margin-left: 8px;
                            }
                        }
                        .comment {
                            margin-bottom: 24px !important;
                            .username {
                                font-weight: 600;
                                margin-right: 4px;
                            }
                            .actions {
                                margin-top: 8px;
                                .reply-button {
                                    margin-right: 16px;
                                    cursor: pointer;
                                }
                                .report-button {
                                    margin: 0;
                                    cursor: pointer;
                                }
                            }
                        }
                        .reply {
                            form {
                                textarea {
                                    width: 140% !important;
                                    min-height: 72px;
                                    padding: 8px;
                                    margin-bottom: 8px;
                                    font-size: 13px;
                                    border: 1px solid;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .multiline-tooltip {
        white-space: pre-line;
    }
}