<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div id="timeline" class="p-24" fxLayout="row wrap">
            <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">
                <ng-template #loading>Loading User Data...</ng-template>
                <div class="timeline-item" *ngIf="post.user; else loading">

                    <header fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="user" fxLayout="row" fxLayoutAlign="start center">
                            <img class="avatar" [src]="post?.user?.avatar">

                            <div fxLayout="column">
                                <div class="title">
                                    <span class="username"><a [routerLink]="['/profile', post.user.id]">{{post.user.name}}</a></span>
                                </div>
                                <div class="time" style="font-size: small">{{post.createdAt | date:'medium'}}</div>
                            </div>
                        </div>

                       
                    </header>

                    <div class="content">
                        <div *ngIf="post.message" class="message">
                            {{post.message}}
                        </div>

                        <div *ngIf="post.images.length > 0" class="media">
                            <img *ngFor="let image of post.images" [src]="image">
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button class="like-button">
                        <span fxLayout="row" fxLayoutAlign="start center">
                           <mat-icon class="s-16">favorite</mat-icon>&nbsp;<span #tooltip="matTooltip" matTooltip="{{getUsersLiked(post.likes)}}" matTooltipClass="multiline-tooltip" matTooltipPosition="above">({{post.likes.length}})</span>&nbsp;&nbsp;&nbsp;
                          <span class="action-link" (click)="likeorUnLikePost(post)"><a>{{isLiked(post)?'Unlike':'Like'}}</a></span>
                        </span>
                    </button>
                        </div>
                    </div>

                    <footer class="" fxLayout="column" fxLayoutAlign="start start">
                        <div *ngIf="post.comments" class="comment-count" fxLayout="row" fxLayoutAlign="start center">
                            {{post.comments.length}} comments
                            <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
                        </div>

                        <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.comments">
                            <app-comment-view [comment]="comment" [post]="post" (commentChanged)="likeComment($event)"></app-comment-view>
                        </div>
                        <app-comment-edit (addCommentClick)="onAddComment($event, post)"></app-comment-edit>
                    </footer>
                </div>

            </div>
            <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">
                <app-sidebar-people class="profile-box" title="People" topPeople="false"></app-sidebar-people>
            </div>
        </div>

    </div>

    <!-- / CONTENT -->

</div>