<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Profile Photo</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0">

        <div class="image-preview mb-3" *ngIf="previewUrl">
            <img [src]="previewUrl" width="300" height="300" />
        </div>
        <div class="form-group">
            <input type="file" name="image" (change)="fileProgress($event)" class="custom-file-input" />
        </div>

        <div *ngIf="fileUploadProgress">
            Upload progress: {{ fileUploadProgress }}
        </div>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button color="accent" (click)="onSubmit()" class="save-button" aria-label="SAVE">
                Save
            </button>
            <button mat-raised-button (click)="matDialogRef.close()" aria-label="Cancel" matTooltip="Cancel">
                Cancel
            </button>
        </div>

    </div>
</div>